buildroot-external/overlays/rootfs/etc/wpa_supplicant/wpa_supplicant.conf
buildroot-external/overlays/rootfs/etc/wpa_supplicant/wpa_supplicant.conf.local

buildroot/output/

buildroot/dl/
buildroot/board/*/images/
buildroot/.config
buildroot/.config.old
nextion/*.tft
*.img
*.img.xz
*.iso
*.zip
*.tar
*.tar.gz
*.tar.xz

__pycache__/
*.pyc

buildroot-external/overlays/rootfs/etc/wpa_supplicant/wpa_supplicant.conf

buildroot-external/overlays/rootfs/etc/wpa_supplicant/wpa_supplicant.conf.local
