# Buildroot generated folders
buildroot/output/
buildroot/dl/
buildroot/board/*/images/

# Buildroot config files (generated)
buildroot/.config
buildroot/.config.old

# Buildroot temporary and stamp files
buildroot/.stamp*
buildroot/*.mk


# Compiled Nextion firmware (DO NOT TRACK)
nextion/*.tft
*.tft

# Nextion temp/backup files
*.bak
*.tmp

*.img
*.img.xz
*.iso
*.zip
*.tar
*.tar.gz
*.tar.xz

__pycache__/
*.pyc
*.pyo


buildroot-external/overlays/rootfs/etc/wpa_supplicant/wpa_supplicant.conf
buildroot-external/overlays/rootfs/etc/wpa_supplicant/wpa_supplicant.conf.local


.idea/
*.iml

.DS_Store
Thumbs.db
*.swp
*.swo
*~
